<a href="https://colab.research.google.com/github/udghosh/Practice/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1] 
print (odd_square)

[1, 9, 25, 49, 81]

In [ ]:

odd_square = [] 
for x in range(1, 11): 
	if x % 2 == 1: 
		odd_square.append(x**2) 
print (odd_square)

[1, 9, 25, 49, 81]

In [ ]:
# below list contains power of 2 from 1 to 8 
power_of_2 = [2 ** x for x in range(1, 9)] 
print (power_of_2)

[2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
# below list contains prime and non-prime in range 1 to 50 
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)] 
primes = [x for x in range(2, 50) if x not in noprimes] 
print (primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# list for lowering the characters 
print ([x.lower() for x in ["A","B","C"]] )

['a', 'b', 'c']

In [ ]:
# list which extracts number 
string = "my phone number is : 11122 !!"

print("\nExtracted digits") 
numbers = [x for x in string if x.isdigit()] 
print (numbers)

Extracted digits
['1', '1', '1', '2', '2']

In [ ]:

# A list of list for multiplication table 
a = 5
table = [[a, b, a * b] for b in range(1, 11)] 

print("\nMultiplication Table") 
for i in table: 
	print (i)

Multiplication Table
[5, 1, 5]
[5, 2, 10]
[5, 3, 15]
[5, 4, 20]
[5, 5, 25]
[5, 6, 30]
[5, 7, 35]
[5, 8, 40]
[5, 9, 45]
[5, 10, 50]